/*
 * Stylesheet for Papillon Web site 
 *
 * Style sheet for the xhtml Papillon pages
 * $Id: gdef-home.css 1087 2009-11-19 15:33:20Z mangeot $
 * ---------------------------------------------------
 *
 * do not write .css at the top of the file
 * do not write font-size : 12 pt; but : 1em or : 100%;
 * do not write div.foo_one but div.foo-one even if _ is in the tag
 *
 * for font size, use pixels px instead of pt or em.
 * 
 * use span instead of div
 */
 
@media aural { 
	span.accesskey { pitch : high; }
	code.markup-example { speak-punctuation : code; }
	h1 { stress: 25; richness: 90; }
	h2 { stress: 20; richness: 90; }
}

/*@media print {}*/

/*@media screen {}*/

/* General */

body {
    font-family: Arial, sans-serif;
	background: white;
}

/*--------------------------------------*/
/* For the editor */
/*--------------------------------------*/
td.block {
  /*  display: block; */
    text-align: center;
    border-style: solid;
    border-width: 1px;
 /*   border-spacing: 5px; i*/
    border-color: black;
}

.blockTitle {
	text-align: center; 
	color:blue;
}

/*--------------------------------------*/
/* Columns */
/*--------------------------------------*/

.menuColumn {
   float: left;
   width: 150px;
   margin-top:0.3em;
}

.mainColumn {
   background: white;
   color: #000;
/*   position: absolute;
   left: 0; 
   width: 70%; */
   margin-left: 160px;
   margin-right: 0.3em;
   margin-top:0.3em;
}

/*-------------------------*/
/* Header part of the page */
/*-------------------------*/

/*-------------------------*/
/* Title of the page */
/*-------------------------*/

#projectTitle {
	text-align: center;
	margin: 0;
	padding: 0em 0.3em 0em 0.3em;
	color: #00c;
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
	font-size: 2.5em;
	font-weight: normal;
	background: white;   
	border-left: 1px solid black;
}

#projectTitle span.projectName {
	font-weight: bold;
	color: #00d;
}

/*-------------------------*/
/* CSS only popup menus    */
/*-------------------------*/

#MenuBar {
	/*background: white;
	height: 1.4em;
	line-height: 1.2em;
	z-index:10;
	text-align: left; */
}

.popupMenu {
	width: auto;
	float: left;
	padding: 0.1em 0em 0.1em 0em;
	cursor: default;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.popupMenu:hover {
   background: #887;
   color:#fff;
}

.popupMenu  a {
   padding: 0em 0.5em 0em 0.5em ;
   text-decoration: none;
}

.popupMenu  a:link {
   color:#00a;
}

.popupMenu  a:visited {
   color:#00a;
}

.popupMenu  a:active {
   color:#00a;
}

.popupMenu  a:hover {
   background: #887;
   color:#fff;
   text-decoration: none;
}

.popupMenu ul {
	display: none;
	position: absolute;
	background: #aa7;
	color: black;
	list-style: none;
	margin: 0em 0 0 0;
   padding: 0;
}

.popupMenu ul li {
   display: block;
   padding: 0.1em 0.5em 0.1em 0.5em ;
   font-size:0.9em;
}

div.popupMenu:hover ul {
    display: block;
    margin: 0;
    padding: 0;

}

div.popupMenu ul li:hover {
   background: #887;
   color: #fff;
}

/*-----------------------------------*/
/* MenuBlock (left) part of the page */
/*-----------------------------------*/

.menuBlock {
	background: white;
    color: #000;
    padding-bottom: 0.2em;
    border: 1px solid black;
    font-size: 13px;
    margin-bottom: .5em;
}

.menuBlock h2.menuTitle {
   background: #aa7;
   color: #fff;
   border: none;
   border-bottom : 1px solid grey;
   width: 100%;
   font-weight: bold;
   font-size: medium;
   text-indent: 0.5em;
   margin-top: 0;
   padding: 0.1em 0;
   font-variant: small-caps;
}

.menuBlock a:link {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:visited {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:active {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:hover {
    text-decoration: none; 
    color: #000070;
}

.menuBlock h2, .menuBlock div, .menuBlock p, .menuBlock ul {
   color: #000;
}

.menuBlock div, .menuBlock p, .menuBlock ul {
   margin-top: 0.2em;
}

.menuBlock li {
   margin-left: 0;
   color: #aa7;
}

.menuBlock p, .menuBlock div {
   text-indent: 0.3em;
}

.menuBlock form {
   margin-top: 0;
   padding-left: 0.2em;
   padding-right: 0.2em;
}

.menuBlock h2.menuTitle a {
   color: #fff;
}

.menuBlock h2.menuTitle a:hover {
   text-decoration: none;
}

/*--------------------------------------*/
/* Main (central) part of the page      */
/*--------------------------------------*/

.mainBlock {
	
}

/* styles for table cells */
.headerRow	{ background: #4682b4; 
                  color: #ffffff; }
.cellRow	{ background: #eeeecc; 
                  color: #000000; }

/* Message administratif aux utilisateurs... */
pre.adminMessage {
    font-size: 1.5em;
    color: #ff0000;
    background: #DFDFDF;
}

/* Message aux utilisateurs... */
pre.userMessage {
    color: #ff0000;
    background: #DFDFDF;
}

/* General */

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
	color: navy;
}

h2 {
	font-size:1.2em;
	color:navy;
}

p.standard {
    text-align: justify;
}

.accesskey {text-decoration: underline; }

.copyright {text-align:right; font-size: 11px;}

.gray {
	color:  gray;
}
.comment {
	color:  gray;
}
.hidden {
	display: none;
}

.note {
	color:  red;
}


/* Links general */
A:link {
	text-decoration: none; 
	color: blue;
	}
A:visited {
	text-decoration: none; 
	color: blue;
	}
A:active {
	text-decoration: none; 
	color: blue;
	}
A:hover {
	text-decoration: underline; 
	color: blue;
	}
/* for anchors we do not want to see */
A.hide {text-decoration: none}


/* For DEC-like entries */
.actor {
	color: #00C6FF;
}

.separator {
	font-weight : bold;
	color : #69FF69; 

}
.space {
	color: #faecc9;
/*	background: white; */
	}


/* Language Styles */

/* The lang attribute with CSS2 :lang function */
:lang(ar)       {font-family: "Traditional Arabic", serif; font-size: 1.2em;}
:lang(zh-Hant)  {font-family: "PMingLiU","MingLiU", serif;}
:lang(zh-Hans)  {font-family: "SimSum-18030","SimHei", serif;}
:lang(din)      {font-family: "Doulos SIL", serif;} 

/* The lang attribute with lang|= selector */
*[lang|="ar"]   {font-family: "Traditional Arabic", serif; font-size: 1.2em;}
*[lang|="zh-Hant"]      {font-family: "PMingLiU","MingLiU", serif;}
*[lang|="zh-Hans"]      {font-family: "SimSum-18030","SimHei", serif;}
*[lang|="din"]  {font-family: "Doulos SIL", serif;} 

/* The ISO-639-2/T 3 letter codes */

.deu	{
	font-family: sans-serif;
	color: #993399;
	}

.eng	{
	font-family: "Arial", sans-serif;
	color: #006600;
	}

.esp	{
	font-family: sans-serif;
	color: #FF9900;
	}

.est	{
	font-family: "Helvetica", sans-serif;
	color: #DC143C;
	/*color: #650065;*/
	}

.fra	{
	font-family: "Helvetica", sans-serif;
	color: #3366FF;
	}

.hun	{
	font-family: sans-serif;
	color: #660000;
	}

.ita	{
	font-family: sans-serif;
	color: #CC6600;
	}

.jpn	{
	/*font-family: "Osaka", sans-serif; */
	font-family: sans-serif;
	color: #FF0000;
	}

.lao	{
	font-family: sans-serif;
	color: #FF0099;
	}

.msa	{
	font-family: sans-serif;
	color: #009900;
	}
        
.rus	{
	font-family: sans-serif;
	color: #CC0000;
	}

.sin	{
	color: black;
	}

.tha	{
	font-family: sans-serif;
	color: #6600FF;
	}

.vie	{
	font-family: sans-serif;
	color: #CC9900;
	}
	
.zho	{
	font-family: PMingLiU,MingLiU, serif;
	color: #000080;
	}
	
.meta	{
	font-family: sans-serif;
	color: gray;
	}
	


/* CDM elements */
.entry {
	/*display: block;
    margin-left: 12px; */
}

.sense {
	display: block;
}

.headword {
	font-weight: bold;
}

.writing {
	font-style : normal;
}

.reading {
	font-style : normal;
	font-family: courier;
}

.pos {
	/*font-weight: bold;
	color: black;*/
	/*color:gray; */
}
.pronunciation {
	/*font-family: courier;*/
	/*color: black;*/
}
.label	{
	font-family: sans-serif;
	color: gray;
	}

.translations {
        display: block;
        margin-left: 3px;
}
.translation {
	font-style : normal;
}

.examples {
	display: block;
	margin-left: 1em;
	margin-top: 1em;
}

.example {
/*	font-style: italic; */
}

.idioms {
	display: block;
}

.idiom {
	font-style : normal;
}

/* styles special GDEF */
.domaine {
	font-family: sans-serif;
	color: gray;
    font-variant: small-caps;
}

.registre {
	font-family: sans-serif;
	color: gray;
    font-variant: small-caps;
}

.sous-bloc-semantique {
	display: block;	
	margin-left: 2em;
}

.bloc-morph {
	/*font-size: 0.8em;*/
	color:gray;
}

.explication {
	font-style: italic;
}

.vedette {
	font-size: larger;
}

/* styles for XML source */

.xmlattribute {
	color: red;
	}
.xmlcar {
	color: blue;
	}	
.xmlcomment {
	color: gray;
	}
.xmlelement {
	color: maroon;
	}
.xmlheader {
	color: teal;
	}
.xmlnsprefix {
	font-weight: bold;
	color:#CC9966;					
        }
.xmlnsuri {
	color:#CC9966;					
        }
.xmltext {
	color: black;
	font-weight: bold;
	}	
.xmlvalue {
	font-weight: bold;
	color: black;
	}

/* Other styles */

.copyentry {
	/*color: red; */
	font-weight: bold;
	background-color: yellow;
}
	
/* Styles for Header links */
	
/* .header A:link {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.header A:visited {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.header A:active {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.header  A:hover {
	font-size: 13px; 
	font-weight: bold; 
	font-style: italic; 
	text-decoration: underline overline; 
	color: #663300;
	}
*/
	
/* Styles for Menu titles links */
	
/* .menutitle A:link {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.menutitle A:visited {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.menutitle A:active {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.menutitle  A:hover {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: underline; 
	color: #663300;
	}
*/
	
/* Styles for Menu link links */
	
/* .menulink A:link {
	font-size: 13px; 
	text-decoration: none; 
	color: blue;
	}
.menulink A:visited {
	font-size: 13px; 
	text-decoration: none; 
	color: blue;
	}
.menulink A:active {
	font-size: 13px; 
	text-decoration: none; 
	color: blue;
	}
.menulink  A:hover {
	font-size: 13px; 
	text-decoration: underline; 
	color: blue;
	}
*/
/* Styles for body links */
	
.bodylink A:link {
	font-weight: bold; 
	text-decoration: none; 
	color: blue;
	}
.bodylink A:visited {
	font-weight: bold; 
	text-decoration: none; 
	color: blue;
	}
.bodylink A:active {
	font-weight: bold; 
	text-decoration: none; 
	color: blue;
	}
.bodylink  A:hover {
	font-weight: bold; 
	text-decoration: underline; 
	color: blue;
	}
	
/* Styles for FOKS results */
TD.result {background: #e6e6fa; font-size: 11px;}
TH.result {background: #fdcfcf;font-family: Arial, sans-serif; font-size: 11px;} 
	
	/* style for firefox icon */
	
	div#firefox {
   background-color: #e0e0e0;
   margin-left: auto;
   margin-right: auto;
   font-size: normal;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 3px;
   padding-right:3px;
   text-align: center;
   width:400px;
}

div#firefox span {

}

div#firefox a {
   float:right;
   padding-left:5px;
}

div#firefox img {
   border: none;
}

/* GDEFPage */
div#interface {
		text-align: center;
}
div#elevator {
		width: 180px;
		height: 800px;
		overflow: auto;
		text-align: left;
}
 div#leftmenu {
	margin-top: 2px;
	width:145px;
	float:left;
	text-align: center;
}
div#lift {
	height: 540px;
	width:140px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
	font-size:13px;
}
div#central {
	border:none;
	margin-left:146px;
	padding: 4px;
	min-height: 600px;
}
 
table#BrowseVolumeTable {
	margin-left: auto;
	margin-right: auto;
	max-width:140px;
	height:595px;
}


/* styles for contribution chart */
.contributionchart_table {margin-top:-20px;margin-bottom:-20px;}
.contributionchart_legend {text-align:center;margin:10px;width:165px;}
.contributionchart_value {text-align:center;}
.contributionchart_total {text-align:right;width:50px;margin-right:10px;}
.contributionchart_finished {background-color:#a3b2ff;}
.contributionchart_reviewed {background-color:#ff96b3;}
.contributionchart_validated {background-color:#ffec92;}

