/* 
 * Stylesheet for Papillon Web site
 * Style sheet for the xhtml Papillon pages
 * $Id: lexalp.css 520 2006-08-20 14:57:19Z  $
 *------
 * $Log$
 * Revision 1.4  2006/03/01 15:12:31  mangeot
 * Merge between maintrunk and LEXALP_1_1 branch
 *
 * Revision 1.3.4.6  2006/02/24 13:59:56  fbrunet
 * Postprocessing during update and save
 *
 * Revision 1.3.4.5  2006/02/17 10:41:49  fbrunet
 * Change QueryCriteria parameters
 * Add new windows when editing an entry
 *
 * Revision 1.3.4.4  2006/01/25 16:59:36  fbrunet
 * *** empty log message ***
 *
 * Revision 1.3.4.3  2006/01/25 15:22:23  fbrunet
 * Improvement of QueryRequest
 * Add new search criteria
 * Add modified status
 *
 * Revision 1.3.4.2  2006/01/24 13:39:49  fbrunet
 * Modification view management
 * Modification LexALP postprocessing
 *
 * Revision 1.3.4.1  2005/12/02 10:04:09  fbrunet
 * Add Pre/Post edition processing
 * Add index reconstruction
 * Add new query request
 * Add fuzzy search
 * Add new contribution administration
 * Add xsl transformation volume
 *
 * Revision 1.3  2005/07/08 08:22:46  serasset
 * Reviewed the Abstract/BasePO hierarchy (moved some methods up in the tree).
 * Added base classes to allow independant browsing window to establish links during edition.
 *
 * Revision 1.2  2005/05/25 14:26:59  serasset
 * Added kwic link style in lexalp css.
 *
 * Revision 1.1  2005/05/24 12:39:54  serasset
 * Added css file for LexALP application.
 *
 */

/*<group=page layout>*/

body {
	background : white;
	font: 10pt   'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
}

.titlePane {
	color: #1cabed;
	font-variant: small-caps;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	display: block;
	font-size: 1.7em;
}

.titlePane h1 {
	text-align: left;
}

#logo {
	vertical-align: middle;
}

/*<group=Quick Links>*/

.quickLinks {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: small;
	font-style: normal;
	font-weight: normal;
	border-bottom: 1px dotted #3b63b5;
	font-variant: normal;
}

.quickLinks a:link {
    text-decoration: none; 
    color: blue;
}

.quickLinks a:visited {
    text-decoration: none; 
    color: blue;
}

.quickLinks a:active {
    text-decoration: none; 
    color: blue;
}

.quickLinks a:hover {
    text-decoration: none; 
    color: #000070;
}
	
/*</group>*/

/*<group=Menus>*/

.menuColumn {
	float: left;
	width: 150px;
	margin-top: 0.3em;
	font-size: 8pt;
	background: transparent;
}

.menuBlock {
    padding-bottom: 0.2em;
    border: 1px solid #3b63b5;
    margin-bottom: .5em;
	background: #fffcd3;
}

.menuBlock h2.menuTitle {
   background: #3a66a7;
   color: #fff;
   border: none;
   border-bottom : 1px solid grey;
   width: 100%;
   font-weight: bold;
   font-size: 9pt;
   text-indent: 0.5em;
   margin-top: 0;
   padding: 0.1em 0;
   font-variant: normal;
}

.menuBlock a:link {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:visited {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:active {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:hover {
    text-decoration: none; 
    color: #000070;
}

.menuBlock h2, .menuBlock div, .menuBlock p, .menuBlock ul {
   color: #000;
}

.menuBlock div, .menuBlock p, .menuBlock ul {
   margin-top: 0.2em;
}

.menuBlock li {
   margin-left: 0;
   color: #3b63b5;
}

.menuBlock p, .menuBlock div {
   text-indent: 0.3em;
}

.menuBlock form {
   margin-top: 0;
   padding-left: 0.2em;
   padding-right: 0.2em;
}

.menuBlock h2.menuTitle a {
   color: #fff;
}

.europaLogos {
    padding-bottom: 0.2em;
    border: transparent;
    margin-bottom: .5em;
	background: transparent;
}

.europaLogos a img {
    border: 0;
}

.menuBlock h2.menuTitle a:hover {
   text-decoration: none;
}

.menuBlock input, textarea, select { font-size: 8pt; color: #000000; background-color: white; }
	
/*</group>*/

.mainColumn {
	margin-left: 170px;
	margin-top: 0.3em;
	background: #f2f2f2;
	color: #000394;
}

.editEntry {
   background: white url(/media/lexalp/logo2-small.jpg) top right no-repeat scroll;
}

.editing {
   color: #000;
   margin-left: 10px;
   margin-right: 10px;
   margin-top:0.3em;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}


.editingResultTitle {
    text-align: center; 
    margin-top: 60px; 
    margin-bottom: 60px;
}

.editingResultView {
    color: #000;
    background-color:#66CCFF;
    border-width: 1px;
    border-style: solid;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
	
/*</group>*/

/*<group=Special Classes>*/

pre.adminMessage {
    font-size: 1.5em;
    color: #ff0000;
    background: #DFDFDF;
}

pre.userMessage {
    color: #ff0000;
    background: #DFDFDF;
}

.hidden {
	display: none;
}
	
/*</group>*/

/*<group=Details>*/

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

p.standard {
    text-align: justify;
}

A:link {
	text-decoration: none; 
	color: blue;
	}

A:visited {
	text-decoration: none; 
	color: blue;
	}

A:active {
	text-decoration: none; 
	color: blue;
	}

A:hover {
	text-decoration: underline; 
	color: blue;
	}

.accesskey {text-decoration: underline; }

.copyright {
	font-size: xx-small;
	margin-left: 170px;
}
	
/*</group>*/

/*<group=Langues>*/

.deu	{
	font-family: Times New Roman, Times, serif;
	color: #993399;
	}

.eng	{
	font-family: "Arial", sans-serif;
	color: #006600;
	}

.fra	{
	font-family: Arial, Helvetica, sans-serif;
	color: #3366FF;
	}

.ita	{
	font-family: sans-serif;
	color: #CC6600;
	}
	
/*</group>*/

/*<group=LexALP entries>*/

.axie {
	//border: 1pt solid #3b63b5;
	display: block;
}

.axieList {
	margin-left: 10px;
	display: block;
}

.axieTerm {
	margin-right:10px;
    margin-left:10px;
    //display: block;
}

.axieSeparator {
	margin-right:10px;
}

.axieTermInfo {
    text-align: justify;
	position: fixed;
	right: 100px;
	top: 104px;
	width: 380px;
	background-color: #FFFFCC;
	layer-background-color: #FFFFFF;
	color: black;
	visibility: hidden;
	border: 1px dashed #000000;
	padding: 5px 5px 5px 5px;
}

/*lexie[lang="fra"]*/
.lexie {
	margin-top: 10px;
}

.term {
	font-weight: bold;
	//font-variant: small-caps;
}

.synonym {
	//margin-left:10px;
	//font-style: italic;
	//font-variant: small-caps;
}

.status {
	font-size: xx-small;
	margin-left:10px;
	margin-right: 10px;
}	

.kwic {
    float: right;
    font-size: xx-small;
}

.legal {
float: right;
//background-color: #bbbbbb;
margin-right:10px;
padding-right:10px;
margin-left:10px;
padding-left:10px;
}

.relatedTermView {
    margin-left:10px;
	display: block;
}

.relatedFormView {
    margin-left:10px;
	display: block;
}

.domainView {
    text-align: justify;
	margin-left: 10px;
	display: block;
	//font-size: smaller;
}

.sourceView {
    text-align: justify;
    //font-size:xx-small;
    margin-left:20px;
    //font-style: italic;
	display: block;

}

.definitionView {
    text-align: justify;
	margin-left: 10px;
	display: block;
	//font-size: smaller;
}


.contextView {
    text-align: justify;
	margin-left: 10px;
	display: block;
	//font-size: smaller;
}

.noteView {
    text-align: justify;
	margin-left: 10px;
	display: block;
	//font-size: smaller;
}

.historyColumn {
	width: 150px;
    font-size: normal;
    text-align: center;
    vertical-align: bottom;
}

.myProceedContributionTR {
    background-color:#99CCCC;
}

.myContributionTR {
    background-color:#66CCFF;
}
.contributionTR {
}

.option1 {
	margin-left: 20px;
}

.option2 {
	margin-left: 5px;
}

/*</group>*/

