/*
 * Stylesheet for Motamot Web site 
 *
 * $Id$
 * ---------------------------------------------------
 *
 * do not write .css at the top of the file
 * do not write font-size : 12 pt; but : 1em or : 100%;
 * do not write div.foo_one but div.foo-one even if _ is in the tag
 *
 * for font size, use pixels px instead of pt or em.
 * 
 * use span instead of div
 */
 
 /*--------------------------------------*/

body {
    font-family: sans-serif;
	background: white;
}

div {
	border: 1px solid #0000FF;
}

div#entete {
}

div#milieu {
	border:none;
}

div#copyright {
	text-align:right; 
	font-size: 11px;
	border:none;
}

div#leftmenu {
	margin-top: 2px;
	width:145px;
	float:left;
	text-align: center;
}
div#lift {
	height: 350px;
	overflow: auto;
	text-align: left;
	font-size:13px;
}
div#central {
	border:none;
	margin-left:146px;
	padding: 4px;
	min-height: 500px;
}
 
table#BrowseVolumeTable {
	margin-left: auto;
	margin-right: auto;
}
	
h1 {
	text-align:center;
}

input#HEADWORD {
	width: 10em;
}