/*
 * Stylesheet for Papillon Web site 
 *
 * Style sheet for the xhtml Papillon pages
 * $Id: papillon-home.css 707 2007-10-22 21:44:51Z mangeot $
 * ---------------------------------------------------
 *
 * $Log$
 * Revision 1.17.2.3  2007/10/22 21:44:51  mangeot
 * *** empty log message ***
 *
 * Revision 1.17.2.2  2006/11/26 12:04:29  mangeot
 * *** empty log message ***
 *
 * Revision 1.17.2.1  2006/11/24 16:58:55  mangeot
 * *** empty log message ***
 *
 * Revision 1.17  2006/04/13 15:21:40  mangeot
 * added *.blockTitle
 *
 * Revision 1.16  2006/03/02 12:36:30  mangeot
 * =
 *
 * Revision 1.15  2006/03/01 15:12:31  mangeot
 * Merge between maintrunk and LEXALP_1_1 branch
 *
 * Revision 1.14  2006/02/21 13:37:54  mangeot
 * *** empty log message ***
 *
 * Revision 1.13  2006/02/18 20:46:16  mangeot
 * Style changed
 *
 * Revision 1.12  2006/02/18 19:19:55  mangeot
 * Added a different style (red bold) for contributions that are copies of validated entries in AdminContributions.java and ReviewContributions.java
 *
 * Revision 1.11  2005/11/16 17:53:19  mangeot
 * *** empty log message ***
 *
 * Revision 1.10  2005/11/16 17:50:32  mangeot
 * *** empty log message ***
 *
 * Revision 1.9  2005/11/16 17:45:21  mangeot
 * *** empty log message ***
 *
 * Revision 1.8  2005/11/16 17:41:47  mangeot
 * *** empty log message ***
 *
 * Revision 1.7  2005/09/11 09:55:48  mangeot
 * Several presentation bug fixes for IExplorer compatability
 *
 * Revision 1.6.8.2  2006/02/17 15:16:42  mangeot
 * Do not display the list of all XSL on the search form any more. Displays only a list of XSL descriptions
 *
 * Revision 1.6.8.1  2006/02/17 10:41:49  fbrunet
 * Change QueryCriteria parameters
 * Add new windows when editing an entry
 *
 * Revision 1.6  2005/04/11 12:29:11  mangeot
 * Merge between the XPathAndMultipleKeys and the trunk
 *
 * Revision 1.5.2.2  2005/03/15 17:30:15  mangeot
 * *** empty log message ***
 *
 * Revision 1.5.2.1  2005/02/25 10:23:07  mangeot
 * Bug fixes
 *
 * Revision 1.5  2005/01/15 18:36:12  mangeot
 * Added the block border for the editor and the hack for the textarea bug
 *
 * Revision 1.4  2005/01/15 17:43:19  mangeot
 * Added cvs Id and Log on the files
 * 
 *
 * ---------------------------------------------------
 * do not write .css at the top of the file
 * do not write font-size : 12 pt; but : 1em or : 100%;
 * do not write div.foo_one but div.foo-one even if _ is in the tag
 *
 * for font size, use pixels px instead of pt or em.
 * 
 * use span instead of div
 */
 
@media aural { 
	span.accesskey { pitch : high; }
	code.markup-example { speak-punctuation : code; }
	h1 { stress: 25; richness: 90; }
	h2 { stress: 20; richness: 90; }
}

/*@media print {}*/

/*@media screen {}*/

/* General */

body {
    font-family: Helvetica, Arial, sans-serif;
	background: white url(/media/papillon-background-fuzzy.png) 0 0 no-repeat fixed;
}


/*--------------------------------------*/
/* For the editor */
/*--------------------------------------*/
td.block {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.blockTitle {
	text-align: center; 
	color:blue;
}

/*--------------------------------------*/
/* Columns */
/*--------------------------------------*/


.menuColumn {
   float: left;
   width: 150px;
   margin-top:0.3em;
}

.mainColumn {
   background: white url(/media/papillon-background-fuzzy-lighter.png) 0 0 no-repeat fixed;
   color: #000;
/*   position: absolute;
   left: 0; 
   width: 100%; */
   margin-left: 160px;
   margin-right: 0.3em;
   margin-top:0.3em;
}


.editEntry {
}

.editing {
   background: white url(/media/papillon-background-fuzzy-lighter.png) 0 0 no-repeat fixed;
   color: #000;
/*   position: absolute;
   left: 0; */
   width: 70%;
   margin-left: 170px;
   margin-right: 170px;
   margin-top:0.3em;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

.editingResultTitle {
}

.editingResultView {
}


/*-------------------------*/
/* Header part of the page */
/*-------------------------*/

/*-------------------------*/
/* Title of the page */
/*-------------------------*/

#projectTitle {
	text-align: left;
	margin: 0;
	padding: 0em 0.3em 0em 0.3em;
	color: #00c;
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
	font-size: 2.5em;
	font-weight: normal;
	background: white url(/media/papillon-background-fuzzy-lighter.png) 0 0 no-repeat fixed;   
	border-left: 1px solid black;
}

#projectTitle span.projectName {
	font-weight: bold;
	color: #00d;
}

/*-------------------------*/
/* CSS only popup menus    */
/*-------------------------*/

#MenuBar {
	background: white url(/media/papillon-background-fuzzy-lighter.png) 0 0 no-repeat fixed;
	height: 1.4em;
	line-height: 1.2em;
	z-index:10;
	text-align: left;
}

.popupMenu {
	width: auto;
	float: left;
	padding: 0.1em 0em 0.1em 0em;
	cursor: default;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.popupMenu:hover {
   background: #887;
   color:#fff;
}

.popupMenu  a {
   padding: 0em 0.5em 0em 0.5em ;
   text-decoration: none;
}

.popupMenu  a:link {
   color:#00a;
}

.popupMenu  a:visited {
   color:#00a;
}

.popupMenu  a:active {
   color:#00a;
}

.popupMenu  a:hover {
   background: #887;
   color:#fff;
   text-decoration: none;
}

.popupMenu ul {
	display: none;
	position: absolute;
	background: #aa7;
	color: black;
	list-style: none;
	margin: 0em 0 0 0;
   padding: 0;
}

.popupMenu ul li {
   display: block;
   padding: 0.1em 0.5em 0.1em 0.5em ;
   font-size:0.9em;
}

div.popupMenu:hover ul {
    display: block;
    margin: 0;
    padding: 0;

}

div.popupMenu ul li:hover {
   background: #887;
   color: #fff;
}

/*-----------------------------------*/
/* MenuBlock (left) part of the page */
/*-----------------------------------*/

.menuBlock {
	background: white url(/media/papillon-background-fuzzy-light.png) 0 0 no-repeat fixed;
    color: #000;
    padding-bottom: 0.2em;
    border: 1px solid black;
    font-size: 13px;
    margin-bottom: .5em;
}

.menuBlock h2.menuTitle {
   background: #aa7;
   color: #fff;
   border: none;
   border-bottom : 1px solid grey;
   width: 100%;
   font-weight: bold;
   font-size: medium;
   text-indent: 0.5em;
   margin-top: 0;
   padding: 0.1em 0;
   font-variant: small-caps;
}

.menuBlock a:link {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:visited {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:active {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:hover {
    text-decoration: none; 
    color: #000070;
}

.menuBlock h2, .menuBlock div, .menuBlock p, .menuBlock ul {
   color: #000;
}

.menuBlock div, .menuBlock p, .menuBlock ul {
   margin-top: 0.2em;
}

.menuBlock li {
   margin-left: 0;
   color: #aa7;
}

.menuBlock p, .menuBlock div {
   text-indent: 0.3em;
}

.menuBlock form {
   margin-top: 0;
   padding-left: 0.2em;
   padding-right: 0.2em;
}

.menuBlock h2.menuTitle a {
   color: #fff;
}

.menuBlock h2.menuTitle a:hover {
   text-decoration: none;
}

/*--------------------------------------*/
/* Main (central) part of the page      */
/*--------------------------------------*/

.mainBlock {
	
}

/* styles for table cells */
.headerRow	{ background: #4682b4; 
                  color: #ffffff; }
.cellRow	{ background: #eeeecc; 
                  color: #000000; }

/* Message administratif aux utilisateurs... */
pre.adminMessage {
    font-size: 1.5em;
    color: #ff0000;
    background: #DFDFDF;
}

/* Message aux utilisateurs... */
pre.userMessage {
    color: #ff0000;
    background: #DFDFDF;
}

/*--------------------------------------*/
/* General */
/*--------------------------------------*/

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

p.standard {
    text-align: justify;
}

.accesskey {text-decoration: underline; }

.copyright {text-align:right; font-size: 11px;}

.gray {
	color:  gray;
}
.hidden {
	display: none;
}

.note {
	color:  red;
}


/* Links general */
A:link {
	text-decoration: none; 
	color: blue;
	}
A:visited {
	text-decoration: none; 
	color: blue;
	}
A:active {
	text-decoration: none; 
	color: blue;
	}
A:hover {
	text-decoration: underline; 
	color: blue;
	}
/* for anchors we do not want to see */
A.hide {text-decoration: none}


/*--------------------------------------*/
/* For DEC-like entries */
/*--------------------------------------*/
.actor {
	color: #00C6FF;
}

.separator {
	font-weight : bold;
	color : #69FF69; 

}
.comment {
	font-style : italic;
	color :  #BEBEBE;
}
.space {
	color: #faecc9;
/*	background: white; */
	}


/*--------------------------------------*/
/* For the editor */
/*--------------------------------------*/
td.block {
  /*  display: block; */
    text-align: center;
    border-style: solid;
    border-width: 1px;
 /*   border-spacing: 5px; i*/
    border-color: black;
}

h4.blockTitle {
	text-align: center; 
	color:blue;
}

/*--------------------------------------*/
/* Language Styles */
/*--------------------------------------*/

/* The lang attribute with CSS2 :lang function */
:lang(ar)       {font-family: "Traditional Arabic", serif; font-size: 1.2em;}
:lang(zh-Hant)  {font-family: "PMingLiU","MingLiU", serif;}
:lang(zh-Hans)  {font-family: "SimSum-18030","SimHei", serif;}
:lang(din)      {font-family: "Doulos SIL", serif;} 

/* The lang attribute with lang|= selector */
*[lang|="ar"]   {font-family: "Traditional Arabic", serif; font-size: 1.2em;}
*[lang|="zh-Hant"]      {font-family: "PMingLiU","MingLiU", serif;}
*[lang|="zh-Hans"]      {font-family: "SimSum-18030","SimHei", serif;}
*[lang|="din"]  {font-family: "Doulos SIL", serif;} 

/* The ISO-639-2/T 3 letter codes */

.bth	{
	font-family: sans-serif;
	color: #535B0A;
	}

.deu	{
	font-family: sans-serif;
	color: #993399;
	}

.eng	{
	font-family: "Arial", sans-serif;
	color: #006600;
	}

.esp	{
	font-family: sans-serif;
	color: #FF9900;
	}

.est	{
	font-family: sans-serif;
	color: #FF9911;
	}

.fra	{
	font-family: "Helvetica", sans-serif;
	color: #3366FF;
	}

.hun	{
	font-family: sans-serif;
	color: #660000;
	}

.ita	{
	font-family: sans-serif;
	color: #CC6600;
	}

.jpn	{
	/*font-family: "Osaka", sans-serif; */
	font-family: sans-serif;
	color: #FF0000;
	}

.lao	{
	font-family: sans-serif;
	color: #FF0099;
	}

.msa	{
	font-family: sans-serif;
	color: #009900;
	}
        
.rus	{
	font-family: sans-serif;
	color: #CC0000;
	}

.tha	{
	font-family: sans-serif;
	color: #6600FF;
	}

.sin	{
	color: black;
	}

.vie	{
	font-family: sans-serif;
	color: #CC9900;
	}
	
.zho	{
	font-family: PMingLiU,MingLiU, serif;
	color: #000080;
	}
	
.meta	{
	font-family: sans-serif;
	color: gray;
	}
	


/* CDM elements */
.entry {
	display: block;
    margin-left: 1em;
}

	/* I have to add a special rule because there is a conflict with the interface */
	/* This conflict should be solved quickly! */
	/* The temporary workaround is to put an element name */
	/* By chance, it is not the same in the interface for the sense object! */
span.sense {
	display: block;
}

tr.sense {
}


.headword {
	font-weight: bold;
}

.writing {
	font-style : normal;
}

.reading {
	font-style : normal;
	font-family: courier;
}

.pos {
	font-weight: bold;
	color: black;
}
.pronunciation {
	font-family: courier;
	color: black;
}
.label	{
	font-family: sans-serif;
	color: gray;
	}

.translations {
        display: block;
        margin-left: 2.5em;
}
.translation {
	font-style : normal;
}

.examples {
	display: block;
}

.example {
	font-style: italic;
}

.idioms {
	display: block;
}

.idiom {
	font-style : normal;
}

/* styles for XML source */

.xmlattribute {
	color: red;
	}
.xmlcar {
	color: blue;
	}	
.xmlcomment {
	color: gray;
	}
.xmlelement {
	color: maroon;
	}
.xmlheader {
	color: teal;
	}
.xmlnsprefix {
	font-weight: bold;
	color:#CC9966;					
        }
.xmlnsuri {
	color:#CC9966;					
        }
.xmltext {
	color: black;
	font-weight: bold;
	}	
.xmlvalue {
	font-weight: bold;
	color: black;
	}
	
/* Other styles */

.copyentry {
	font-weight: bold;
	background-color: yellow;
}

	
/* Styles for Header links */
	
/* .header A:link {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.header A:visited {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.header A:active {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.header  A:hover {
	font-size: 13px; 
	font-weight: bold; 
	font-style: italic; 
	text-decoration: underline overline; 
	color: #663300;
	}
*/
	
/* Styles for Menu titles links */
	
/* .menutitle A:link {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.menutitle A:visited {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.menutitle A:active {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: none; 
	color: #663300;
	}
.menutitle  A:hover {
	font-size: 13px; 
	font-weight: bold; 
	text-decoration: underline; 
	color: #663300;
	}
*/
	
/* Styles for Menu link links */
	
/* .menulink A:link {
	font-size: 13px; 
	text-decoration: none; 
	color: blue;
	}
.menulink A:visited {
	font-size: 13px; 
	text-decoration: none; 
	color: blue;
	}
.menulink A:active {
	font-size: 13px; 
	text-decoration: none; 
	color: blue;
	}
.menulink  A:hover {
	font-size: 13px; 
	text-decoration: underline; 
	color: blue;
	}
*/
/* Styles for body links */
	
.bodylink A:link {
	font-weight: bold; 
	text-decoration: none; 
	color: blue;
	}
.bodylink A:visited {
	font-weight: bold; 
	text-decoration: none; 
	color: blue;
	}
.bodylink A:active {
	font-weight: bold; 
	text-decoration: none; 
	color: blue;
	}
.bodylink  A:hover {
	font-weight: bold; 
	text-decoration: underline; 
	color: blue;
	}
	
/* Styles for FOKS results */
td.result {background: #e6e6fa; font-size: 11px;}
th.result {background: #fdcfcf;font-family: Arial, sans-serif; font-size: 11px;} 

/* Styles for BrowseVolumePage */
	table#BrowseVolumeTable {
		margin-left: auto;
		margin-right: auto;
	}
	
	div#interface {
		text-align: center;
	}
	
	div#elevator {
		width: 180px;
		height: 500px;
		overflow: auto;
		text-align: left;
	}

